[submodule "libft"]
	path = libft
	url = git@github.com:heymanuel42/libft.git
	update = checkout
	branch = master
[submodule "printf"]
	path = printf
	url = git@github.com:heymanuel42/printf.git
	update = checkout
	branch = master
[submodule "getnextline"]
	path = getnextline
	url = git@github.com:heymanuel42/getnextline.git
	update = checkout
	branch = master
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:heymanuel42/minitalk.git
[submodule "push_swap/libft"]
	path = push_swap/libft
	url = git@github.com:heymanuel42/libft.git
[submodule "push_swap/printf"]
	path = push_swap/printf
	url = git@github.com:heymanuel42/printf.git
